#quote {
	font-size: 15px;
}

#quote, #author {
	max-width: 500px;
	margin: 0 auto;
}

.jumbotron {
	background: url('http://www.unsigneddesign.com/Vintage%20Paper/paper3.jpg') center center;
}

h1 {
	font-family: "Indie Flower", cursive;
	font-weight: 800;
}

.quotes {
	max-width: 60px;
	margin: 0 auto;
}
button {

	position: fixed;
	bottom: 20px;
	right: 20px;

}